<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/dist/styles.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/dist/script.js")"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
