<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link href="@Url.Content("~/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/styles.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/script.js")"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
