<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link href="@Url.Content("~/dist/prince.css")" rel="stylesheet" type="text/css" />
</head>
<body class="prince">
    @RenderBody()
</body>
</html>
