$font-weight-light: 100;
$font-weight-normal: 300;
$font-weight-bold: 900;
$font-family-base: 'Roboto', sans-serif;
$icon-font-path: "~bootstrap/assets/fonts/bootstrap/";
$enable-print-styles: false;
@import "~bootstrap/scss/bootstrap";

body {
  background-color: inherit;
}

@page {
  margin: 2cm;
  width: 612pt;
  height: 792pt;
}

@page :left {
  @bottom {
    content: element(pagenumberleft);
  }
  @top-left {
    content: string(page-title);
}

@page :right {
  @bottom {
    content: element(pagenumberright);
  }
  @top-right {
    content: string(page-title);
  }
}

@page Coversheet {
  margin: 0;
  background-color: #e5e6e5;
}

.coversheet {
  page-break-after: always;
  page: Coversheet;
  
  .product {
    max-width: 500pt;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .info {
    width: 300pt;
    margin-right: 100pt;
    .logo {
      width: 100%;
    }
    .user-manual {
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      margin: 0;
    }
    .model, .text {
      text-align: right;
      margin: 0;
    }
  }
  
  .info {
    @include float-right;
  }
}

.page-number-container.left {
  position: running(pagenumberleft);
  text-align: left;
}

.page-number-container.right {
  position: running(pagenumberright);
  text-align: right;
}

.page-number-text {
  content: counter(page);
}

%section-header {
  text-transform: uppercase;
}

.toc {
  page-break-after: always;
  h1 {
    string-set: page-title content();
  }
}

.toc a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.toc .entry a::after {
  content: leader(".") target-counter(attr(href), page);
}

.toc .entry.level-1 {
  text-transform: uppercase;
  font-weight: bold;
}

.toc .entry.level-2 {
  margin-left: 10px;
  font-weight: lighter;
}

.section {
  counter-increment: section;
  counter-reset: figuire;
}

.section .figure {
  counter-increment: figure;
  font-weight: bold;
}

.section .figure-text {
  content: counter(section) "-" counter(figure);
}

.section h1 {
  page-break-before: always;
}

.section h1:first-child {
  string-set: page-title content();
}