
<table class="table table-bordered">
    <tr>
        <td colspan="4">
            The equipment is intended for use in the electromagnetic environment specified below. The customer or the user of the Equipment should assure that it is used in such an environment.
        </td>
    </tr>
    <tr>
        <th>
            Immunity Test
        </th>
        <th>
            IEC 60601 Test Level
        </th>
        <th>
            Compliance Level
        </th>
        <th>
            Electromagnetic Environment - Guidance
        </th>
    </tr>
    <tr>
        <td>
            Conducted RF IEC 61000-4-6<br/>
            Radiated RF IEC 61000-4-3
        </td>
        <td>
            3 Vrms 150 kHz to 80 MHz<br />
            3 V/m 80 MHz to 2,5 GHz
        </td>
        <td>
            3 V<br/>
            3 V/m
        </td>
        <td>
            Portable and mobile RF communications equipment should be used no closer to any part of the equipment including cables, than the recommended separation distance calculated from the equation applicable to the frequency of the transmitter.<br /><br />
        
            Recommended separation distance:<br />
            <img src="@Url.Content("~/resources/symbols/equation.png")"/><br /><br />
            
            Where P is the maximum output power rating of the transmitter in watts (W) according to the transmitter manufacturer and d is the recommended separation distance in meters (m). Field strengths from fixed RF transmitters, as determined by an electromagnetic site surveys should be less than the compliance level in each frequency range.<br /><br />
        
            Interference may occur in the vicinity of known RF transmitting devices and equipment marked with the following symbol:<br />
            <img src="@Url.Content("~/resources/symbols/electromagnetic-radiation.png")" />
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <strong>Note:</strong> At 80 MHz and 800 MHz, the higher frequency range applies.<br />
            <strong>Note:</strong> These guidelines may not apply in all situations.<br />
            Electromagnetic propagation is affected by absorption and reflection from structures, objects and people.
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <strong>a)</strong> Field strengths from fixed transmitters, such as base stations for radio (cellular/cordless) telephones and land mobile radios, amateur radio, AM and FM radio broadcast and TV broadcast cannot be predicted theoretically with accuracy. To assess the electromagnetic environment due to fixed RF transmitters, an electromagnetic site survey should be considered. If the measured field strength in the location in which the equipment is used exceeds the applicable RF compliance level above, the equipment should be observed to verify normal operation. If abnormal performance is observed, additional measures may be necessary, such as re-orienting or relocating the equipment.<br />
            <strong>b)</strong> Over the frequency range 150 kHz to 80 MHz, field strengths should be less than 3 V/m. 
        </td>
    </tr>
</table>