
<table class="table table-bordered">
    <tr>
        <td colspan="3">
            The equipment is intended for use in the electromagnetic environment specified below. The customer or the user of the equipment should assure that it is used in such an environment.
        </td>
    </tr>
    <tr>
        <th>Emissions Test</th>
        <th>Compliance</th>
        <th>Electromagnetic Environment - Guidance</th>
    </tr>
    <tr>
        <td>RF emissions CISPR 11</td>
        <td>Group 1</td>
        <td>
            Except for the intentional data transmission at 2.412 GHz to 2.462 GHz, this equipment uses RF energy only for its internal function. Therefore, its RF emissions are very low and are not likely to cause any interference in nearby electronic equipment. This device may cause interference, or be disrupted by other devices operating in the 2.412 GHz to 2.462 GHz spectrum.
        </td>
    </tr>
    <tr>
        <td>RF emissions CISPR 11</td>
        <td>Class A</td>
        <td rowspan="3">
            The equipment is suitable for use in all establishments other than domestic, and may be used in domestic establishments and those directly connected to the public low-voltage power supply network that supplies buildings used for domestic purposes, provided the following warning is heeded:<br/>
            <strong>Warning:</strong> This equipment/system is intended for use by healthcare professionals only. This equipment/system may cause radio interference or may disrupt the operation of nearby equipment. It may be necessary to take mitigation measures, such as re-orienting or relocating the equipment or shielding the location.
        </td>
    </tr>
    <tr>
        <td>Harmonic emissions IEC 61000-3-2</td>
        <td>Class A</td>
    </tr>
    <tr>
        <td>Voltage fluctuations/flicker emissions IEC 61000-3-3</td>
        <td>Complies</td>
    </tr>
</table>