
<table class="table table-bordered">
    <tr>
        <td colspan="4">
            The equipment is intended for use in the electromagnetic environment specified below. The customer or the user of the Equipment should assure that it is used in such an environment.
        </td>
    </tr>
    <tr>
        <th>Immunity Test</th>
        <th>IEC 60601 Test Level</th>
        <th>Compliance Level</th>
        <th>Electromagnetic Environment – Guidance</th>
    </tr>
    <tr>
        <td>Electrostatic discharge (ESD) IEC 61000-4-2</td>
        <td>Level three ±6 kV contact discharge ±8 kV air discharge</td>
        <td>Level three ±6 kV contact discharge ±8 kV air discharge</td>
        <td>Floors should be wood, concrete or ceramic tile. If floors are covered with synthetic material, the relative humidity should be at least 30%.</td>
    </tr>
    <tr>
        <td>Electrical fast transient/burst IEC 61000-4-4</td>
        <td>±2 kV for power supply lines ±1 kV for input/output lines</td>
        <td>±2 kV for power supply ines ±1 kV for input/output lines</td>
        <td>Mains power quality should be that of a typical commercial or hospital environment.</td>
    </tr>
    <tr>
        <td>Surge IEC 61000-4-5</td>
        <td>±1 kV line(s) to line(s) ±2 kV line(s) to earth</td>
        <td>±1 kV line(s) to line(s) ±2 kV line(s) to earth</td>
        <td>Mains power quality should be that of a typical commercial or hospital environment.</td>
    </tr>
    <tr>
        <td>Voltage dips, short interruptions and voltage variations on power supply input lines IEC 61000-4-11 UT = 230 Vac</td>
        <td><5% UT (>95% dip in UT) for 0,5 cycle 40% UT (60% dip in UT) for 5 cycles 70% UT (30% dip in UT) for 25 cycles <5% UT (>95% dip in UT) for 5 sec</td>
        <td><5% UT (>95% dip in UT) for 0,5 cycle 40% UT (60% dip in UT) for 5 cycles 70% UT (30% dip in UT) for 25 cycles No anomalies 95% dip meets requirements.</td>
        <td>Mains power quality should be that of a typical commercial or hospital environment. If the user of the equipment requires continued operation during power mains interruptions, it is recommended that the equipment be powered from an uninterruptible power supply or a battery.</td>
    </tr>
    <tr>
        <td>Power frequency (50 Hz) magnetic field IEC 61000-4-8</td>
        <td>3 A/m</td>
        <td>3 A/m</td>
        <td>Power frequency magnetic fields should be at levels characteristic of a typical location in a typical commercial or hospital environment.</td>
    </tr>
</table>