@page {
    margin: 2cm;
}

@page {
    @top {
        content: element(pagetitle);
    }
}

@page :left {
    @bottom {
        content: element(pagenumberleft);
    }
}

@page :right {
    @bottom {
        content: element(pagenumberright);
    }
}

body {
    font-family: 'Roboto', sans-serif;
}

.coversheet {
    page-break-after: always;
}

.page-number-container.left {
    position: running(pagenumberleft);
    text-align: left;
}

.page-number-container.right {
    position: running(pagenumberright);
    text-align: right;
}

.page-number {
    content: counter(page);
}

.toc {
    page-break-after: always;
}

.toc .entry a::after {
    content: leader(".") target-counter(attr(href), page);
}

.section h1 {
    page-break-before: always;
}

.section h1:first-child {
    position: running(pagetitle);
}