@page {
    margin: 2cm;
}

@page {
    @bottom {
        content: element(pagenumber);
    }
    @top {
        content: element(pagetitle);
    }
}

body {
    font-family: 'Roboto', sans-serif;
}

.coversheet {
    page-break-after: always;
}

.page-number {
    position: running(pagenumber);
}

.toc {
    page-break-after: always;
}

.toc .entry a::after {
    content: leader(".") target-counter(attr(href), page);
}

.section h1 {
    page-break-before: always;
}

.section h1:first-child {
    position: running(pagetitle);
}