h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 10px;
}

h1 {
    font-size: 24px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}

@page {
    margin: 2cm;
    @top {
        content: element(pagetitle);
    }
}

@page :left {
    @bottom {
        content: element(pagenumberleft);
    }
}

@page :right {
    @bottom {
        content: element(pagenumberright);
    }
}

@page Coversheet {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.coversheet {
    page-break-after: always;
    page: Coversheet;
}

.page-number-container.left {
    position: running(pagenumberleft);
    text-align: left;
}

.page-number-container.right {
    position: running(pagenumberright);
    text-align: right;
}

.page-number-text {
    content: counter(page);
}

.toc {
    page-break-after: always;
}

.toc a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.toc .entry a::after {
    content: leader(".") target-counter(attr(href), page);
}

.toc .entry.level-1 {
    text-transform: uppercase;
    font-weight: bold;
}

.toc .entry.level-2 {
    margin-left: 10px;
    font-weight: lighter;
}

.section {
    counter-increment: section;
    counter-reset: figuire;
}

.section .figure {
    counter-increment: figure;
    font-weight: bold;
}

.section .figure-text {
    content: counter(section) "-" counter(figure);
}

.section h1 {
    page-break-before: always;
}

.section h1:first-child {
    position: running(pagetitle);
}
