@page Coversheet {
  margin: 0;
  background-color: #e5e6e5;
}

.coversheet {
  page: Coversheet;
}

.inside-empty-page, .coversheet {
  page-break-after: always;
  
  .product {
    max-width: 500pt;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .info {
    width: 300pt;
    margin-right: 100pt;
    .logo {
      width: 100%;
    }
    .user-manual {
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      margin: 0;
    }
    .model, .text {
      text-align: right;
      margin: 0;
    }
  }

  .info {
    @include float-right;
  }
}

.inside-empty-page {
  .info {
    margin-top: 300pt;
    margin-right: 0;
    float: right;
  }
}