.page-number {
  background-color: #A1ABB2;
  color: white;
  
  &.left {
    position: running(page-number-left);
    float: left;
    padding-left: 80pt;
    padding-right: 20pt;
  }

  &.right {
    position: running(page-number-right);
    float: right;
    padding-left: 20pt;
    padding-right: 80pt;
  }
  
  .text {
    content: counter(page);
  }
}

@page :left {
  @bottom-left-corner {
    content: element(page-number-left);
    margin-left: -20pt;
  }
}

@page :right {
  @bottom-right-corner {
    content: element(page-number-right);
    margin-right: -20pt;
  }
}