.section {
  counter-increment: section;
  counter-reset: figuire;
  column-count: 2;
}


.section .figure {
  counter-increment: figure;
  font-weight: bold;
}

.section .figure-text {
  content: counter(section) "-" counter(figure);
}

.section {
  page-break-before: always;
  h1, h2, h3, h4, h5, h6 {
    column-break-before: always;
  }
  p {
    text-align: justify;
  }
}